<div class="row">
    {{ form_start(form, {'attr': {'id': 'form-post', 'class': 'row' }}) }}
    <div class="col-12 col-md-8">
        {{ form_widget(form._token) }}
        <div class="mb-3">
            {{ form_label(form.title, 'Title', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
            {% if form_errors(form.title) %}
            <div id="post_titleFeedback" class="invalid-feedback">
                {{ form_errors(form.title) }}
            </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form_label(form.category, 'Categorie', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}
            {% if form_errors(form.category) %}
            <div id="post_categoryFeedback" class="invalid-feedback">
                {{ form_errors(form.category) }}
            </div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form_label(form.content, 'Content', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'rows': '15'} }) }}
            {% if form_errors(form.content) %}
            <div id="post_contentFeedback" class="invalid-feedback">
                {{ form_errors(form.content) }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-md-4">
        <p class="mb-0">Actions</p>
        <hr class="my-4">
        <div class="mb-3">
            <button type="submit" id="submit-post" class="btn btn-success btn-lg w-100">{{ button_label|default('Save')
                }}</button>
        </div>
        <hr class="my-4">
        <p class="mb-0">Images</p>
        <hr class="my-4">
        <div class="form-control mb-3">
            {{ form_label(form.thumbFile, 'Thumb (featured image)', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.thumbFile, { 'attr': {'class': 'form-control mb-2'} }) }}
            {% if form_errors(form.thumbFile) %}
            <div id="post_featuredImageFeedback" class="invalid-feedback">
                {{ form_errors(form.thumbFile) }}
            </div>
            {% endif %}
        </div>
        <p class="mb-0">Gallery</p>
        <div class="form-control mb-3">
            <ul id="post_images" class="list-unstyled" data-index="{{ form.images|length> 0 ? form.images|last.vars.name + 1 : 0
                }}" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">

                {% for image in form.images %}
                <li class="">
                    {{ form_row(image.imageFile) }}
                    <a href="{{ path('app.post.image.delete', {'id': post.id, 'image_id': image.vars.data.id}) }}"
                        class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i>
                        Delete
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>