{% extends 'base.html.twig' %}
{% set referer = app.request.headers.get('referer')|default('/post/') %}
{% block title %}Edit Post{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mt-3">Edit Post </h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ path('app.home') }}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app.post.index') }}">All posts</a></li>
            <li class="breadcrumb-item active">Edit post</li>
        </ol>
    </div>
    <div class="col-12 col-md-4">
        <div class="d-flex h-100 align-items-center justify-content-start justify-content-md-end">
            <a href="{{ path('app.post.new') }}" class="btn btn-primary me-1">
                Create new
            </a>
            <a href="{{ referer }}" class="btn btn-light border border-secondary">
                <i class="fa-solid fa-chevron-left"></i>
                Back
            </a>
        </div>
    </div>
    <div class="col-12">
        <hr class="my-4">
        {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const formCategory = document.getElementById('form-post');
        const submitCategory = document.getElementById('submit-post');
        submitCategory.addEventListener('click', function () {
            formCategory.submit();
            submitCategory.disabled = true;
        });
        // https://jsfiddle.net/ey8ozh6n/
        const addTagLink = document.createElement('a')
        addTagLink.classList.add('add_gallery_link')
        addTagLink.href = '#'
        addTagLink.innerText = 'Add an image'
        addTagLink.dataset.collectionHolderClass = 'images_gallery'

        const newLinkLi = document.createElement('li').append(addTagLink)

        const addGalleryLink = document.querySelector('.add_gallery_link');
        const collectionHolder = document.querySelector('#post_galleryImages');
        console.log(collectionHolder);
        addGalleryLink.addEventListener('click', function (e) {
            e.preventDefault();
        });
    });
</script>
{% endblock %}