{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mt-3">Edit Post </h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ path('app.home') }}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app.post.index') }}">All posts</a></li>
            <li class="breadcrumb-item active">Edit post</li>
        </ol>
    </div>
    <div class="col-12 col-md-4">
        <div class="d-flex h-100 align-items-center justify-content-start justify-content-md-end">
            <a href="{{ path('app.post.new') }}" class="btn btn-primary me-1">
                Create new
            </a>
            <a href="{{ path('app.post.index') }}" class="btn btn-light border border-secondary">
                <i class="fa-solid fa-chevron-left"></i>
                Back to list
            </a>
        </div>
    </div>
    <div class="col-12">
        <hr class="my-4">
        {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const formCategory = document.getElementById('form-post');
        const submitCategory = document.getElementById('submit-post');
        submitCategory.addEventListener('click', function () {
            formCategory.submit();
            submitCategory.disabled = true;
        });
        // https://jsfiddle.net/ey8ozh6n/
        // Create AddImageLink
        const addImageLink = document.createElement('a');
        addImageLink.classList.add('btn', 'btn-light', 'border', 'border-secondary', 'my-2');
        addImageLink.href = '#';
        addImageLink.innerText = 'Add field';
        addImageLink.dataset.collectionHolderClass = 'post_images';

        const newLinkLi = document.createElement('li').append(addImageLink);

        const collectionImagesHolder = document.querySelector('#post_images');
        collectionImagesHolder.appendChild(addImageLink);

        // Create RemoveLink
        // const removeLink = document.createElement('a');
        // removeLink.classList.add('btn', 'btn-light', 'border', 'border-danger', 'text-danger', 'ms-1');
        // removeLink.href = '#';
        // removeLink.innerText = 'Remove field';
        // collectionImagesHolder.append(removeLink);

        const addFormToCollection = (e) => {
            e.preventDefault();
            const collectionImagesHolder = document.querySelector('#' + e.currentTarget.dataset.collectionHolderClass);

            const itemImageInput = document.createElement('li');
            itemImageInput.classList.add('input-' + collectionImagesHolder.dataset.index,);
            itemImageInput.innerHTML = collectionImagesHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionImagesHolder.dataset.index
                );

            collectionImagesHolder.appendChild(itemImageInput);
            addTagFormDeleteLink(itemImageInput);
            collectionImagesHolder.dataset.index++;

        };

        addImageLink.addEventListener('click', addFormToCollection);

        const addTagFormDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Delete this tag';
            removeFormButton.classList.add('btn', 'btn-light', 'border', 'border-danger', 'text-danger');
            removeFormButton.innerText = 'Remove field';

            const divider = document.createElement('hr');
            divider.classList.add('mt-4');

            item.append(removeFormButton);
            item.append(divider);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the tag form
                item.remove();
            });
        }


        // const removeFormToCollection = (e, index) => {
        //     e.preventDefault();
        //     const collectionImagesHolder = document.querySelector('#' + e.currentTarget.dataset.collectionHolderClass);
        //     console.log('ici ' + collectionImagesHolder.dataset.index);
        // }

        // removeLink.addEventListener('click', removeFormToCollection);



    });
</script>
{% endblock %}