{% extends 'base.html.twig' %}

{% block title %}All posts{% endblock %}

{% block body %}
    <h1 class="mt-3">All posts</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('app.home') }}">Dashboard</a></li>
        <li class="breadcrumb-item active">All post</li>
    </ol>
    <hr class="my-4">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Create At</th>
                    <th scope="col" class="d-flex justify-content-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in 0..9 %}
                    <tr>
                        <th scope="row">{{ i }}</th>
                        <td>Title {{ i }}</td>
                        <td>
                            {{ random(['publish', 'draft', 'review']) }}
                        </td>
                        <td>
                            {{ "now"|date("d-m-Y H:i:s") }}
                        </td>
                        <td class="d-flex justify-content-end">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownAction{{ i }}" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-list-ul"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownAction{{ i }}">
                                    <li><a class="dropdown-item" href="#">Show</a></li>
                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include('partials/pagination.html.twig') %}
{% endblock %}
